# SQLite database file
DATABASE_URL="file:./dev.db"

# Admin secret key for verification (one-time auth)
ADMIN_SECRET_KEY="changeme-admin-secret"

# Google Maps API Key (Used for Places Autocomplete)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
