# SQLite database file
DATABASE_URL="file:./dev.db"

# Admin simple token auth for MVP (used on /admin and admin APIs)
ADMIN_TOKEN="changeme-admin-token"

# Google Maps API Key (Used for Places Autocomplete)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
